@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&family=Merriweather+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --header-font: 'Cinzel', serif;
    --main-font: 'Merriweather Sans', sans-serif;
    --main-color: #F5F5F5;
    --header-color: #FAEBD7;
    --header-font-color: hsl(19, 56%, 20%);
    --menu-select: hsl(34, 78%, 75%);
    --main-font-color: hsl(0, 0%, 20%);
    --placeholder-font-color: hsl(0, 0%, 70%);
    --shadow-color: gray;
    --button-color: hsl(34, 78%, 80%);
    --button-hover-color: hsl(34, 78%, 60%)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--main-font);
    background-color: var(--main-color);
    color: var(--main-font-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

label,
input,
textarea,
select {
    display: block;
    width: 100%;
    font-size: inherit;
    margin-top: 0.6em;
}

select,
input[type="submit"] {
    border: none;
    font-family: var(--main-font);
    background-color: var(--button-color);
}

select:hover,
input[type="submit"]:hover {
    background-color: var(--button-hover-color);
}

input[type="submit"] {
    margin-top: 1em;
}

input[type="submit"]:last-of-type {
    margin-bottom: 2em;
}

input,
textarea,
select {
    padding: 0.5em;
}

::placeholder {
    color: var(--placeholder-font-color);
    opacity: 1;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--placeholder-font-color);
}

header {
    font-family: var(--header-font);
    box-shadow: 0 1px 3px var(--shadow-color);
}

footer {
    min-height: 2em;
    margin-top: auto;
    box-shadow: 0 -1px 3px var(--shadow-color);
}

header,
footer {
    background-color: var(--header-color);
    color: var(--header-font-color);
}

/*Menu*/

i {
    color: var(--main-font-color);
    font-size: 2rem;
}

#title-and-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#title-and-nav a {
    padding: 0.5rem;
}

#title-and-nav a:hover {
    background-color: var(--header-color);
}

.menu {
    overflow: hidden;
    background-color: var(--header-color);
    display: flex;
    flex-wrap: nowrap;
    box-shadow: 0 1px 3px var(--shadow-color);
    justify-content: flex-end;
}

.menu a {
    display: none;
    font-weight: 500;
}

.menu a:visited {
    color: var(--header-font-color);
}

.menu a.icon {
    display: block;
    font-size: 2rem;
}

.menu a:hover {
    background-color: var(--menu-select);
}

/*Menu isolla näytöllä*/
@media screen and (min-width: 1100px) {
    #title-and-nav {
        width: 30%;
    }

    .menu {
        justify-content: space-evenly;
    }

    .menu a.icon {
        display: none;
    }

    .menu a {
        display: inline-block;
        padding: 1.1em;
    }

}

/*Menun avaus ja sulkeminen*/
.menu.opened {
    position: relative;
    flex-direction: column;
}

.menu.opened a.icon {
    order: 1;
}

.menu.opened a {
    display: block;
    text-align: right;
    padding: 0.5rem;
    order: 2;
}

/*Content*/
h1 {
    padding: 0.5rem 1rem;
}

h2 {
    margin-bottom: 1em;
}

p {
    margin-bottom: 0.7em;
}

a {
    text-decoration: none;
}

table {
    border-collapse: collapse;
    max-width: 100%;
}

td,
th {
    border: 1px solid var(--main-font-color);
    padding: 0.5em;
    text-align: left;
    align-items: middle;
}

#content {
    width: 80%;
    padding-top: 2em;
    margin-left: auto;
    margin-right: auto;
}


/*Tämä on yksinkertaisempaa tehdä näin päin*/

@media screen and (max-width: 1000px) {
    .ws_only {
        display: none;
    }
}

/*Sisältö isolla näytöllä*/
@media screen and (min-width: 1100px) {
    #content {
        width: 60%;
    }

}